<div id="<%= dom_id user %>">
  <p>
    <strong>Title:</strong>
    <%= user.title %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= user.body %>
  </p>

</div>
